body {
    margin: 0px;
}

.container {
    height: 100vh;
    background-color: #f8f8f8;
}

.header {
    padding: 15px 20px;
    background-color: #b8b8b8;
}

h1 {
    color: #FFF;
}

.sample {
    margin: 15px;
    padding: 10px;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
}
